<span>
  <%= form_for article, :url => edit_article_path(article), 
  html: { method: 'get' } do |f|%>
    <%= f.submit  "Edit article", 
    class: "btn-submit text-white #{article_owner?(article)}" %>
  <% end %>
</span>