/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'CartoGothic';
  src: url(asset-path('fonts/CartoGothicStd-Bold.otf'));
  src: url(asset-path('fonts/CartoGothicStd-Italic.otf'));
  src: url(asset-path('fonts/CartoGothicStd-BoldItalic.otf'));
  src: url(asset-path('fonts/CartoGothicStd-Italic.otf'));
}

@font-face {
  font-family: 'Chivo';
  src: url(asset-path('fonts/Chivo-Black.otf'));
  src: url(asset-path('fonts/Chivo-BlackItalic.otf'));
  src: url(asset-path('fonts/Chivo-Bold.otf'));
  src: url(asset-path('fonts/Chivo-BoldItalic.otf'));
  src: url(asset-path('fonts/Chivo-ExtraBold.otf'));
  src: url(asset-path('fonts/Chivo-ExtraBoldItalic.otf'));
  src: url(asset-path('fonts/Chivo-Italic.otf'));
  src: url(asset-path('fonts/Chivo-Light.otf'));
  src: url(asset-path('fonts/Chivo-LightItalic.otf'));
  src: url(asset-path('fonts/Chivo-Medium.otf'));
  src: url(asset-path('fonts/Chivo-MediumItalic.otf'));
  src: url(asset-path('fonts/Chivo-Regular.otf'));
  src: url(asset-path('fonts/Chivo-Thin.otf'));
  src: url(asset-path('fonts/Chivo-ThinItalic.otf'));
}

@font-face {
  font-family: 'Lato';
  src: url(asset-path('fonts/Lato-Black.ttf'));
  src: url(asset-path('fonts/Lato-BlackItalic.ttf'));
  src: url(asset-path('fonts/Lato-Bold.ttf'));
  src: url(asset-path('fonts/Lato-BoldItalic.ttf'));
  src: url(asset-path('fonts/Lato-Hairline.ttf'));
  src: url(asset-path('fonts/Lato-Heavy.ttf'));
  src: url(asset-path('fonts/Lato-HeavyItalic.ttf'));
  src: url(asset-path('fonts/Lato-Italic.ttf'));
  src: url(asset-path('fonts/Lato-Light.ttf'));
  src: url(asset-path('fonts/Lato-LightItalic.ttf'));
  src: url(asset-path('fonts/Lato-Medium.ttf'));
  src: url(asset-path('fonts/Lato-MediumItalic.ttf'));
  src: url(asset-path('fonts/Lato-Regular.ttf'));
  src: url(asset-path('fonts/Lato-Semibold.ttf'));
  src: url(asset-path('fonts/Lato-SemiboldItalic.ttf'));
  src: url(asset-path('fonts/Lato-Thin.ttf'));
}

@import "bootstrap";

body {
  background-color: #4d423c;
  font-family: 'Lato';
}

main {
  min-height: 600px;
}

a,
a:visited,
.btn-submit,
.category-list a,
.fa-search,
.fa-bars,
span {
  color: #9a9691;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: 'CartoGothic';
}

li.orange-link a {
  color: #fb8c47;
}

.bg-orange {
  background-color: #fb8c47;
  color: #4d423c;
}

.btn-submit {
  background-color: #b7a28d;
}

header {
  background-color: #fff;
}

.logo {
  max-width: 130px;
}

.hamburguer-menu {
  left: 0;
  top: 5px;
  background-color: #4d423c;
}

.category-list {
  padding-left: 10px;
}

.session-menu {
  padding-left: 5px;
}

.fa-search {
  font-family: "FontAwesome";
}

footer {
  font-family: 'Chivo';
}

@media (max-width: 767px) {
  footer {
    margin-top: 40px;
  }

  .logo {
    position: absolute;
    left: 140px;
    top: -30px;
  }

  .category-list,
  .session-menu {
    padding: 0;
    margin-left: -35px;
    width: 120px;
    padding-top: 10px;
  }

  .ul-session {
    border-top: 2px solid white;
    margin-top: 20px;
  }
}
