/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-color: #4d423c;
}

nav a,
a:visited,
.btn-submit,
nav {
  color: #9a9691;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.btn-submit {
  background-color: #b7a28d;
}

 .orange-link a {
   color: #fb8c47;
 }

 header {
   background-color: #ffffff;
 }

