/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-color: #4d423c;
}

a,
a:visited,
.btn-submit,
.category-list a,
.fa-search,
.fa-bars,
span {
  color: #9a9691;
  text-transform: uppercase;
  font-size: 0.8rem;
}

li.orange-link a {
  color: #fb8c47;
}

.btn-submit {
  background-color: #b7a28d;
}

header {
  background-color: #fff;
}

.logo {
  max-width: 130px;
}

.hamburguer-menu {
  left: 0;
  top: 5px;
  background-color: #63564f;
}

.category-list {
  padding-left: 10px;
}

.session-menu {
  padding-left: 5px;
}

@media (max-width: 767px) {
  .logo {
    position: absolute;
    left: 140px;
    top: -30px;
  }

  .category-list,
  .session-menu {
    padding: 0;
    margin-left: -35px;
    width: 120px;
    padding-top: 10px;
  }

  .ul-session {
    border-top: 2px solid white;
    margin-top: 20px;
  }
}
