// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.featured {
  display: grid;
  grid-auto-rows: 350px;
  grid-gap: 0;
  margin: 0;
}

.more-info {
  background-color: white;
  padding: 10px;
}

.article-image {
  width: 100%;
}

.article-link,
.article-link:visited {
  color: #fa6000;
}

.article-title,
.article-title-mini,
.article-author {
  bottom: 45px;
}

.read-more {
  bottom: 0;
}

.article-category {
  background-color: #ffffff;
}

.category-article-text,
.article-text,
.article-title-mini {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.category-article-text {
  line-height: 25px;
  color: black;
}

.article-text,
.article-title-mini {
  -webkit-line-clamp: 2;
}

.article-text {
  bottom: 10px;
  font-size: 0.6em;
  max-width: 220ch;
}

.article-title,
.article-text,
.article-author {
  left: 10px;
}

.articles, 
.category-articles {
  display: grid;
  gap: 0;
  grid-auto-rows: 300px;
  margin: 0;
}

.articles {
  grid-template-columns: repeat(4, 1fr);
}

.category-articles {
  grid-template-columns: repeat(2, 1fr);
}


.articles li {
  border-bottom: 3px solid yellow;
}

.category-articles li {
  border-bottom: 3px solid #fb8c47;
}

@media (max-width: 767px) {
  .featured {
    grid-auto-rows: 400px;
  }

  .articles,
  .category-articles {
    grid-auto-rows: 350px;
  }

  .articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .article-text {
    max-width: 60ch;
  }
}
