// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.featured {
  display: grid;
  grid-template-rows: 350px;
  grid-gap: 0;
  margin: 0;
}

.article-title {
  color: #fa6000;
}

.article-title,
.article-title-mini {
  bottom: 30px;
}

.article-text, 
.article-title-mini {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40ch;
}

.article-text {
  bottom: 10px;
  font-size: 0.6em;
  max-width: 220ch;
}

.articles {
  display: grid;
  gap: 0;
  grid-template-rows: 350px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
}

@media (max-width: 767px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }

  .article-text {
    max-width: 60ch;
  }
}