<div class="card w-50 mx-auto mt-5">
  <div class="card-header">
    <h1><%= category.name %></h1>
  </div>
  <div class="card-body">
    <p class="card-text">Priority: <%= category.priority %></p>
    <% if !session[:current_user].nil?  %>
      <%= link_to  "Edit", edit_category_path(category) %>
    <% end %>
  </div>
</div>