<div class="card w-50 mx-auto mt-5">
  <div class="card-header">
    <h1><%= category.name %></h1>
  </div>
  <div class="card-body">
    <p class="card-text">Priority: <%= category.priority %></p>
    <%= edit_category?(category) %>
  </div>
</div>