<footer class = 'd-flex flex-column flex-md-row'>
  <div class = 'col-12 col-md-3'>
    <%= link_to image_tag("logos/logo.png", class: 'logo'), root_path %>
  </div>
  <div class = 'col-12 col-md-6 justify-content-center align-items-baseline pt-2'>
    <ul class = 'list-unstyled d-flex flex-column flex-md-row'>
      <li class = 'pl-2 pt-2 orange-link'><a href = "#">Privacy</a></li>
      <li class = 'pl-2 pt-2 orange-link'><a href = "#">Policy</a></li>
      <li class = 'pl-2 pt-2 orange-link'><a href = "#">Terms & Conditions</a></li>
      <li class = 'pl-2 pt-2 text-white'>Copyright 2020. All Rights reserved.</a></li>
    </ul>
  </div>
  <div class = "col-12 col-md-3 ">
    <ul class = 'd-flex list-unstyled align-items-center pt-2'>
      <span>Connect with us:</span>
      <li>
        <a href = "#" class="fa fa-twitter float-right bg-orange p-2 ml-2 rounded-circle" 
        style="font-size:20px">
         </a>
      </li>
      <li>
        <a href = "#" class="fa fa-instagram float-right bg-orange p-2 ml-2 rounded-circle" 
        style="font-size:20px">
         </a>
      </li>
      <li>
        <a href = "#" class="fa fa-facebook float-right bg-orange px-2 py-1 ml-2 rounded-circle" 
        style="font-size:26px">
         </a>
      </li>
    </ul>
  </div>
</footer>